
Label {
    margin: 10;
    horizontal-align: top;
    vertical-align: center;
     color: white;
     font-size: 20px;
}
TextField {
    border-width: 30px;
    border-style: solid;
    border-color: #034793;
}

#helperLabel {
    color: lightgray;
    font-size: 14px;
    margin-top: 40;
}